{% extends "templates/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<style>
    .container {
        margin-top: 5rem;
        padding: 0;
        margin: 0, auto;
    }

    .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .container img {
        width: 17rem;
        height: 17rem;
        object-fit: cover;
        border-radius: 1rem;
    }
    .follow a { color: black; }
    .follow a:visited { color: black; }
    .follow a:hover { color: black; }
    .follow a:active { color: black; }
</style>

<div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto">

        <img src="{{ my_user.profile.image.url }}" alt="image" style="height: 12rem; width: 12rem; border-radius: 15rem; margin-bottom: 2rem; object-fit: cover;">

        {% if my_user.profile %}
            <h2>
                {{ my_user.profile.nickname }}
            </h2>
            <h5 style="margin-bottom: 3rem;">
                {{ my_user.profile.introduction }}
            </h5>
            {% if my_user == user %}
                <a href="{% url 'profileapp:edit' pk=my_user.profile.pk %}">
                    <p>
                        프로필 수정
                    </p>
                </a>
                <a href="{% url 'accountapp:edit' pk=my_user.pk %}">
                    <p>
                        회원정보 수정
                    </p>
                </a>
                <a href="{% url 'accountapp:delete' pk=my_user.pk %}">
                    <p>
                        회원탈퇴
                    </p>
                </a>
            {% endif %}
        {% else %}
            <a href="{% url 'profileapp:create' %}">
                <h2>
                    프로필 생성
                </h2>
            </a>
        {% endif %}

        <div class="text-center">
        {% if my_user != user %}
            {% if follow %}
                <a href="{% url 'followapp:follow' pk=my_user.pk %}" class="btn btn-danger rounded-pill px-4" style="text-decoration: none">팔로우 취소</a>
            {% else %}
                <a href="{% url 'followapp:follow' pk=my_user.pk %}" class="btn btn-primary rounded-pill px-4" style="text-decoration: none">팔로우</a>
            {% endif %}
        {% endif %}
        </div>
    </div>

    <div class="text-center follow" style="margin-bottom: 30px;">
        <a href="{% url 'accountapp:follower_list' pk=my_user.pk %}" style="text-decoration: none">
            <span style="vertical-align: middle; font-size: 1.1rem;">
               팔로워 {{ followers_cnt }}명
            </span>
        </a>
        <a href="{% url 'accountapp:follow_list' pk=my_user.pk %}" style="text-decoration: none">
            <span style="vertical-align: middle; font-size: 1.1rem;">
               팔로우 {{ follow_cnt }}명
            </span>
        </a>
    </div>

    {% if object_list %}
        <div class="container">
            {% for list in object_list %}
            <a href="{% url 'feedapp:detail' pk=list.pk %}">
                {% include 'snippets/my_feeds.html' with my_feed_list=list %}
            </a>
            {% endfor %}
        </div>
        <script src="/static/js/magicgrid.js"></script>
    {% else %}
        <div class="text-center">
            <h1>게시물 없음!!</h1>
        </div>
    {% endif %}
</div>
{% endblock %}