{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<style>
    .alert {
        position: fixed;
        width: 100%;
        text-align: center;
    }
    .container {
        margin-top: 3rem;
        padding: 0;
        margin: 0, auto;
    }
    .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }
    .container img {
        width: 17rem;
        height: 17rem;
        object-fit: cover;
        border-radius: 1rem;
    }
    .dropdown{
        position : relative;
        bottom: 4rem;
        display : inline-block;
    }
    .dropdown-content{
        z-index : 1;
        display : none;
        position : absolute;
        min-width: 120px;
    }
    .dropdown-content a{
        display : block;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .follow a { color: black; }
    .follow a:visited { color: black; }
    .follow a:hover { color: black; }
    .follow a:active { color: black; }
</style>

<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

{% if messages %}
    {% for message in messages %}
        <div class="alert"></div>
    {% endfor %}
{% endif %}

<div>
    <div style="text-align: center; margin: 3rem auto">
        {% if my_user == user %}
            {% if not my_user.profile.image.url %}
                <img style="margin-top: 3rem; margin-bottom: 2rem; margin-right: 0.3rem; height: 12rem; width: 12rem; border-radius: 15rem; object-fit: cover;">
            {% else %}
                <img src="{{ my_user.profile.image.url }}" alt="image" style="height: 12rem; width: 12rem; border-radius: 15rem; margin-bottom: 2rem; margin-top: 3rem; margin-left: 2.5rem; object-fit: cover;">
            {% endif %}
        {% else %}
            {% if not my_user.profile.image.url %}
                <img style="margin-top: 3rem; margin-bottom: 2rem; margin-right: 0.3rem; height: 12rem; width: 12rem; border-radius: 15rem; object-fit: cover;">
            {% else %}
                <img src="{{ my_user.profile.image.url }}" alt="image" style="height: 12rem; width: 12rem; border-radius: 15rem; margin-bottom: 2rem; margin-top: 3rem; object-fit: cover;">
            {% endif %}
        {% endif %}

        {% if my_user == user %}
            {% if my_user.profile %}
                <div class="dropdown" style="margin: 0.3rem;">
                <i style="vertical-align: right; font-size: 1.7rem;" class="material-icons">
                       more_vert
                </i>
                    <div class="dropdown-content" style="font-size: 15px;">
                        <a href="{% url 'profileapp:edit' pk=my_user.profile.pk %}">
                            <p>
                                프로필 수정
                            </p>
                        </a>
                        <a href="{% url 'accountapp:edit' pk=my_user.pk %}">
                            <p>
                                회원정보 수정
                            </p>
                        </a>
                        <a href="{% url 'accountapp:delete' pk=my_user.pk %}">
                            <p>
                                회원탈퇴
                            </p>
                        </a>
                    </div>
                </div>

                <h2>
                    {{ my_user.profile.nickname }}
                </h2>
                <h5 style="margin-bottom: 3rem;">
                    {{ my_user.profile.introduction }}
                </h5>
            {% else %}
                <a href="{% url 'profileapp:create' %}">
                    <h2>
                        프로필 생성
                    </h2>
                </a>
                <a class="btn btn-danger rounded-pill px-4;" href="{% url 'accountapp:delete' pk=my_user.pk %}">
                    회원탈퇴
                </a>
            {% endif %}
        {% endif %}

        <div class="text-center">
        {% if my_user != user %}
            {% if follow %}
                <a href="{% url 'followapp:follow' pk=my_user.pk %}" class="btn btn-danger rounded-pill px-4 text-white" style="text-decoration: none">팔로우 취소</a>
            {% else %}
                <a href="{% url 'followapp:follow' pk=my_user.pk %}" class="btn btn-primary rounded-pill px-4 text-white" style="text-decoration: none">팔로우</a>
            {% endif %}
        {% endif %}
        </div>
    </div>

    <div class="text-center follow">
        <a href="{% url 'accountapp:follower_list' pk=my_user.pk %}" style="text-decoration: none">
            <span style="vertical-align: middle; font-size: 1.1rem;">
               팔로워 {{ followers_cnt }}명
            </span>
        </a>
        &nbsp;
        <a href="{% url 'accountapp:follow_list' pk=my_user.pk %}" style="text-decoration: none">
            <span style="vertical-align: middle; font-size: 1.1rem;">
               팔로우 {{ follow_cnt }}명
            </span>
        </a>
    </div>
</div>

{% if object_list %}
    <div class="container">
        {% for list in object_list %}
        <a href="{% url 'feedapp:detail' pk=list.pk %}">
            {% include 'snippets/my_feeds.html' with my_feed_list=list %}
        </a>
        {% endfor %}
    </div>
    <script src="https://django-sns-pj-bucket.s3.ap-northeast-2.amazonaws.com/static/js/magicgrid.js"></script>
{% else %}
    <div class="text-center" style="margin-top: 3rem;">
        <h1>게시물 없음!!</h1>
    </div>
{% endif %}
{% endblock %}