{% extends "base.html" %}
{% load django_bootstrap5 %}

{# TODO: 채팅방 만들기 #}

{% block content %}
    <div class="container p-5" style="margin-top: 3rem;">
        <h2 align="center">Create Room</h2>

        <div class="my-3">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Create" class="btn btn-success" />
            </form>
        </div>

        <a href="{% url 'chatapp:index' %}" class="btn btn-primary">Back</a>
    </div>
{% endblock %}

{% block extra-script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        if ($('#id_is_password_set').is(":checked")) {
            $('#id_password').parent().show();
        } else {
            $('#id_password').parent().hide();
        }

        $('#id_is_password_set').change(function() {
            if ($(this).is(":checked")) {
                $('#id_password').parent().show();
            } else {
                $('#id_password').parent().hide();
            }
         });
    });
</script>
{% endblock %}