{% extends "base.html" %}
{% load django_bootstrap5 %}

{# TODO: 채팅방 만들기 #}

{% block content %}
<style>
    .container
</style>
    <div class="container p-5" style="margin-top: 3rem;">
        <h2 align="center">Create Room</h2>

        <div class="my-3">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Create" class="btn btn-success" />
            </form>
        </div>

        <a href="{% url 'chatapp:index' %}" class="btn btn-primary">Back</a>
    </div>
{% endblock %}