{% extends "base.html" %}

{# TODO: 채팅방 목록 보여주기 #}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html">

    <div style="text-align: center; margin-top: 3rem;">
        <a href="{% url 'chatapp:create' %}">
            <i class="material-icons" style="vertical-align: right; font-size: 4rem; color: #2a9df4;">
                add_circle
            </i>
        </a>
    </div>

    </br>

    <div class="album py-5 bg-light">
        <div class="container">
            <form class="d-flex mt-3 mt-lg-0" role="search" style="width: 100%;">
                <select class="form-select" style="width: auto;" id="sort-select" onchange="location = this.value;">
                    <option class="sort-date" value="/">최신순</option>
                    <option class="sort-likes" value="?sort=likes">좋아요순</option>
                    {% if user.is_authenticated %}
                        <option class="sort-mypost" value="?sort=mypost">내가쓴글</option>
                    {% endif %}
                </select>
                &nbsp;
                <input class="form-control flex-grow-1 me-2" type="search" placeholder="Search" aria-label="Search"">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <div class="container">
            <div class="row">
                {% for room in room_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22289%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20289%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18a41520827%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18a41520827%22%3E%3Crect%20width%3D%22289%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2297.31770706176758%22%20y%3D%22118.70000038146972%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">
                                {% if room.is_password_set %}
                                    <h5><a href="#" class="room-name-link" data-room-id="{{ room.pk }}">{{ room.name }}</a></h5>
                                    <div class="password-form mt-3 mt-lg-0 d-none" data-room-id="{{ room.pk }}">
                                        <form method="POST" action="{% url 'chatapp:room' room.pk %}" class="d-flex mt-3 mt-lg-0">
                                            {% csrf_token %}
                                            <div class="form-group" style="width: 85%">
                                                <div class="input-group mb-2">
                                                    <input type="password" name="password" id="password{{ room.pk }}" class="form-control" style="margin-right: 0.5rem; margin-top: 0.5rem;" placeholder="비밀번호 입력">
                                                </div>
                                            </div>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-primary" style="margin-top: 0.5rem;">입장</button>
                                            </div>
                                        </form>
                                    </div>
                                {% else %}
                                    <h5><a href="{% url 'chatapp:room' room.pk %}">{{ room.name }}</a></h5>
                                {% endif %}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {{ room.description }}
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="/static/js/magicgrid.js"></script>
{% endblock %}

{% block extra-script %}
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var roomNameLinks = document.querySelectorAll('.room-name-link');

    Array.from(roomNameLinks).forEach(function(link) {
        link.addEventListener('click', function(e) {
            e.preventDefault();

            var roomId = this.getAttribute('data-room-id');
            var passwordForm = document.querySelector('.password-form[data-room-id="' + roomId + '"]');

            if (passwordForm) {
                if (passwordForm.classList.contains('d-none')) {
                    passwordForm.classList.remove('d-none');
                } else {
                    passwordForm.classList.add('d-none');
                }
            }
        });
    });
});
</script>
{% endblock %}