{% extends "base.html" %}

{# TODO: 채팅방 목록 보여주기 #}

{% block content %}
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" xmlns="http://www.w3.org/1999/html">

    <div style="text-align: center; margin-top: 3rem;">
        <a href="{% url 'chatapp:create' %}">
            <i class="material-icons" style="vertical-align: right; font-size: 4rem; color: #2a9df4;">
                add_circle
            </i>
        </a>
    </div>

    </br>

    <div class="album py-5 bg-light">
        <div class="container">
            <form method="get" class="d-flex mt-3 mt-lg-0" role="search" style="width: 100%;" action="{% url 'searchapp:room_search_list' %}">
                <select class="form-select" style="width: auto;" id="sort-select" onchange="location = this.value;">
                    <option class="sort-date" value="{% url 'chatapp:index' %}" {% if request.GET.sort == "date" %}selected{% endif %}>최신순</option>
                    {% if user.is_authenticated %}
                        <option class="sort-mychat" value="?sort=mychat" {% if request.GET.sort == "mychat" %}selected{% endif %}>나의 채팅방</option>
                    {% endif %}
                </select>
                &nbsp;
                <input class="form-control flex-grow-1 me-2" type="search" placeholder="Search" aria-label="Search" name="room_q" value="{{ request.GET.room_q }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <div class="container">
            <div class="row">
                {% for room in room_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ room.image.url }}" style="height: 225px; width: 100%; display: block; object-fit: cover;">
                        <div class="card-body">
                            <p class="card-text">
                                {% if room.is_password_set %}
                                    <h5><a href="#" class="room-name-link" data-room-id="{{ room.pk }}">{{ room.name }}</a></h5>
                                    <div class="password-form mt-3 mt-lg-0 d-none" data-room-id="{{ room.pk }}">
                                        <form method="POST" action="{% url 'chatapp:room' room.pk %}" class="d-flex mt-3 mt-lg-0">
                                            <input type="hidden" name="origin" value="index">
                                            {% csrf_token %}
                                            <div class="form-group" style="width: 85%">
                                                <div class="input-group mb-2">
                                                    <input type="password" name="password" id="password{{ room.pk }}" class="form-control" style="margin-right: 0.5rem; margin-top: 0.5rem;" placeholder="비밀번호 입력">
                                                </div>
                                            </div>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-primary" style="margin-top: 0.5rem;">입장</button>
                                            </div>
                                        </form>
                                    </div>
                                {% else %}
                                    <h5><a href="{% url 'chatapp:room' room.pk %}">{{ room.name }}</a></h5>
                                {% endif %}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {{ room.description }}
                                </div>
                                <small class="text-muted">{{ room.created_at | date:"Y/m/d" }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="/static/js/magicgrid.js"></script>
{% endblock %}

{% block extra-script %}
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var roomNameLinks = document.querySelectorAll('.room-name-link');

        Array.from(roomNameLinks).forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault();

                var roomId = this.getAttribute('data-room-id');
                var passwordForm = document.querySelector('.password-form[data-room-id="' + roomId + '"]');

                if (passwordForm) {
                    if (passwordForm.classList.contains('d-none')) {
                        passwordForm.classList.remove('d-none');
                    } else {
                        passwordForm.classList.add('d-none');
                    }
                }
            });
        });
    });

</script>
{% endblock %}