{% extends "chatapp/templates/base.html" %}
{% load static %}

{% block content %}
<style>
    ul.list-unstyled li:hover {
        background-color:#f2f2f2;
        cursor:pointer
    }
</style>
<section style="background-color: #eee;">
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0" style="height: 750px;">
                <div class="card" style="height: 650px; margin-top: 3rem; overflow-y: auto;">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            {% for room in my_rooms %}
                                {% if room.user1 == request.user %}
                                    <li class="p-2 border-bottom" style="margin-bottom: 0.5rem;">
                                        <a href="{% url 'chatapp:private_room' room.pk %}" class="d-flex justify-content-between text-decoration-none text-dark">
                                            <div class="d-flex flex-row">
                                            {% if room.user2.profile.image.url %}
                                                <img src="{{ room.user2.profile.image.url }}" alt="{{ room.user2.username }}'s avatar"
                                                    class ="rounded-circle d-flex align-self-center me-3 shadow-sm" width = "60">
                                            {% else %}
                                                <img src="{% static 'DI.PNG' %}" alt="{{ room.user2.username }}'s avatar"
                                                    class ="rounded-circle d-flex align-self-center me-3 shadow-sm" width = "60">
                                            {% endif %}
                                                <div class="pt-1">
                                                <p class="fw-bold mb-0">{{ room.user2.username }}</p>
                                                <p class="small text-muted">Hello, Are you there?</p>
                                            </div>
                                            </div>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="p-2 border-bottom" style="margin-bottom: 0.5rem;">
                                        <a href="{% url 'chatapp:private_room' room.pk %}" class="d-flex justify-content-between text-decoration-none text-dark">
                                            <div class="d-flex flex-row">
                                            {% if room.user1.profile.image.url %}
                                                <img src="{{ room.user1.profile.image.url }}" alt="{{ room.user1.username }}'s avatar"
                                                    class ="rounded-circle d-flex align-self-center me-3 shadow-sm" width = "60">
                                            {% else %}
                                                <img src="{% static 'DI.PNG' %}" alt="{{ room.user1.username }}'s avatar"
                                                    class ="rounded-circle d-flex align-self-center me-3 shadow-sm" width = "60">
                                            {% endif %}
                                                <div class="pt-1">
                                                <p class="fw-bold mb-0">{{ room.user1.username }}</p>
                                                <p class="small text-muted">Hello, Are you there?</p>
                                            </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            {% empty %}
                                참여한 개인 채팅방이 없습니다.
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
