{% extends "chatapp/templates/base.html" %}
{% load static %}

{% block extra-style %}
<style>
    .chat-message > div {
        background-color: #fff;
        color: #000;
        border: 1px solid;
        border-color: #c0c0c0;
        border-radius: 0.8em;
        padding: 0.4em;
        margin: 0.4em 0;
        display: inline-block;
        white-space: pre-wrap;
        max-width: 80%;
        word-wrap: break-word;
    }
    .chat-message.message_owner {
        text-align: right;
    }
    .chat-message.message_owner > div {
        background-color: #1f8cff;
        color: #fff;
        text-align: left;
        margin-right: 1rem;
    }
    .chat-message.owner {
        justify-content: flex-end;
        margin-right: 0.5rem;
    }
    .chat-message.other {
        justify-content: flex-start;
    }
    .card.w-100 {
        max-width: 50%;
    }
    #chat_messages::-webkit-scrollbar {
        width:.5em;
        opacity:.3
     }
    #chat_messages::-webkit-scrollbar-track {
        -webkit-box-shadow:none
    }
    #chat_messages::-webkit-scrollbar-thumb {
        background-color:#C0C0C0
    }
    ul.list-unstyled li:hover {
        background-color:#f2f2f2;
        cursor:pointer
    }
</style>
{% endblock %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0" style="height: 750px;">
                <div class="card" style="height: 650px; margin-top: 3rem; overflow-y: auto; border: none;">
                    <div class="card-body">
                        {% for room in my_rooms %}
                            {% if room.user1 == request.user %}
                                <ul class="list-unstyled mb-0">
                                <li class="p-2 border-bottom" style="margin-bottom: 0.5rem;">
                                    <a href="{% url 'chatapp:private_room' room.pk %}" class="d-flex justify-content-between text-decoration-none text-dark">
                                        <div class="d-flex flex-row">
                                        {% if room.user2.profile.image.url %}
                                            <img src="{{ room.user2.profile.image.url }}" alt="{{ room.user2.username }}'s avatar"
                                                class ="rounded-circle d-flex align-self-center me-3 shadow-sm" width = "60">
                                        {% else %}
                                            <img src="{% static 'DI.PNG' %}" alt="{{ room.user2.username }}'s avatar"
                                                class ="rounded-circle d-flex align-self-center me-3 shadow-sm" width = "60">
                                        {% endif %}
                                            <div class="pt-1">
                                                <p class="fw-bold mb-0">{{ room.user2.username }}</p>
                                                <p class="small text-muted">Hello, Are you there?</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                </ul>
                            {% else %}
                                <ul class="list-unstyled mb-0">
                                <li class="p-2 border-bottom" style="margin-bottom: 0.5rem;">
                                    <a href="{% url 'chatapp:private_room' room.pk %}" class="d-flex justify-content-between text-decoration-none text-dark">
                                        <div class="d-flex flex-row">
                                        {% if room.user1.profile.image.url %}
                                            <img src="{{ room.user1.profile.image.url }}" alt="{{ room.user1.username }}'s avatar"
                                                class ="rounded-circle d-flex align-self-center me-3 shadow-sm" width = "60">
                                        {% else %}
                                            <img src="{% static 'DI.PNG' %}" alt="{{ room.user1.username }}'s avatar"
                                                class ="rounded-circle d-flex align-self-center me-3 shadow-sm" width = "60">
                                        {% endif %}
                                            <div class="pt-1">
                                                <p class="fw-bold mb-0">{{ room.user1.username }}</p>
                                                <p class="small text-muted">Hello, Are you there?</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                </ul>
                            {% endif %}
                        {% empty %}
                            참여한 개인 채팅방이 없습니다.
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-7 col-xl-8" style="margin-top: 3rem; height: 650px;">
                <div class="card border-0" style="height: 650px; background-color: #eee">
                    <div class="card-body overflow-hidden">
                        <div id="chat_messages" class="w-100 h-100 border-0 overflow-scroll"></div>
                    </div>
                    <div class="card-footer border-0" style="display: flex; align-items: center; background-color: #eee">
                        <form id="message_form" style="flex-grow: 1;">
                            <input type="text" name="message" class="form-control" required placeholder="메세지를 입력하세요." autofocus autocomplete="off" />
                        </form>
                        <button type="submit" form="message_form" class="btn btn-primary" style="margin-left: 0.5rem;">보내기</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">알림</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-script %}
<script>
    const handlers = {
        chat_messages_tag: null,
        ws: null,

        init() {
            this.chat_messages_tag = document.querySelector("#chat_messages");

            document.querySelector("#message_form")
                .addEventListener("submit", this.onsubmit.bind(this));
        },

        connect(url) {
            this.ws = new WebSocket(url);

            this.ws.onopen = this.onopen.bind(this);
            this.ws.onmessage = this.onmessage.bind(this);
        },

        onopen() {
            console.log("웹소켓 서버와 접속");
        },

        onclose(event) {
            const close_code = event.code;

            if(close_code === 4000) {
                this.modal("채팅방이 삭제되었습니다. 대기실로 이동합니다.", () => {
                    window.location.href = "{% url 'chatapp:index' %}";
                });
            }
            else if(!event.wasClean) {
                console.log("웹소켓 서버에 접속할 수 없습니다. 대기실로 이동합니다.");
                window.location.href = "{% url 'chatapp:index' %}";
            }
        },

        onerror() {
            console.log("웹소켓 에러가 발생했습니다. 대기실로 이동합니다.");
            window.location.href = "{% url 'chatapp:index' %}";
        },

        onmessage(event) {
            const message_json = event.data;
            console.log("메세지 수신 :", message_json);

            const { type, message, message_owner } = JSON.parse(message_json);
            switch(type) {
                case "chat.message":
                    this.append_message(message, message_owner);
                    break;
                default:
                    console.error(`Invalid message type : ${type}`);
            }
        },

        append_message(message, message_owner) {
            let today = new Date();

            const liElement = document.createElement("li");
            liElement.className = "d-flex mb-4 chat-message";

            if (message_owner === "{{ user.username }}") {
                liElement.classList.add('owner');
            } else if (message_owner !== undefined) {
                liElement.classList.add('other');
            }

            const cardDiv = document.createElement("div");
            cardDiv.className = "card w-100";

            const headerDiv = document.createElement("div");
            headerDiv.className = "card-header d-flex justify-content-between p-3";

            const namePtag = document.createElement("p");
            namePtag.className = "fw-bold mb-0";
            namePtag.textContent = message_owner;

            const timePtag = document.createElement('p');
            timePtag.className = "text-muted small mb-0";
            timePtag.innerHTML = `<i class="far fa-clock"></i> ${today.toLocaleString()}`;

            headerDiv.appendChild(namePtag);
            headerDiv.appendChild(timePtag);

            const bodyDiv = document.createElement('div');
            bodyDiv.className = "card-body";

            const msgPTag = document.createElement('p');
            msgPTag.className = "mb-0";
            msgPTag.textContent = message;

            bodyDiv.appendChild(msgPTag);
            cardDiv.appendChild(headerDiv);
            cardDiv.appendChild(bodyDiv);

            if (message_owner === "{{ user.username }}") {
                liElement.appendChild(cardDiv);

                let avatarImgTag = document.createElement('img');

                {% if user.profile and user.profile.image %}
                    avatarImgTag.src = '{{ user.profile.image.url }}';
                {% else %}
                    avatarImgTag.src = '{% static "DI.PNG" %}';
                {% endif %}

                avatarImgTag.alt = 'avatar';
                avatarImgTag.width = '60';

                avatarImgTag.classList.add(
                    'rounded-circle',
                    'd-flex',
                    'align-self-start',
                    'ms-3',
                    'shadow-1-strong'
                );

                liElement.appendChild(avatarImgTag);
            } else {
                let avatarImgTag = document.createElement('img');
                let avatarUrl = '';

                if (message_owner === "{{ user.username }}") {
                    {% if user.profile and user.profile.image %}
                        avatarUrl = '{{ user.profile.image.url }}';
                    {% else %}
                        avatarUrl = '{% static "DI.PNG" %}';
                    {% endif %}
                } else {
                    if ("{{ rooms.user2.username }}" === "{{ request.user.username }}") {
                        {% if rooms.user1.profile and rooms.user1.profile.image %}
                            avatarUrl = '{{ rooms.user1.profile.image.url }}';
                        {% else %}
                            avatarUrl = '{% static "DI.PNG" %}';
                        {% endif %}
                    } else if ("{{ rooms.user1.username }}" === "{{ request.user.username }}") {
                        {% if rooms.user2.profile and rooms.user2.profile.image %}
                            avatarUrl = '{{ rooms.user2.profile.image.url }}';
                        {% else %}
                            avatarUrl = '{% static "DI.PNG" %}';
                        {% endif %}
                    }
            }

               avatarImgTag.src = avatarUrl;
               avatarImgTag.alt = 'avatar';
               avatarImgTag.width = '60';

               avatarImgTag.classList.add(
                   'rounded-circle',
                   'd-flex',
                   'align-self-start',
                   "me-3",
                   "shadow-1-strong"
               );

               liElement.appendChild(avatarImgTag);
               liElement.appendChild(cardDiv);
            }

            this.chat_messages_tag.appendChild(liElement);
            this.chat_messages_tag.scrollTop = this.chat_messages_tag.scrollHeight;

        },

        onsubmit(event) {
            event.preventDefault();

            const form_data = new FormData(event.target);
            const props = Object.fromEntries(form_data);
            event.target.reset();

            const { message } = props;

            this.ws.send(JSON.stringify({
                type:"chat.message",
                message:message,
            }))
        }
   };

handlers.init();

const protocol = location.protocol === "http:" ? "ws:" : "wss:";
const url = protocol + "//" + location.host + "/ws" + location.pathname;

handlers.connect(url);
</script>
{% endblock %}
