{% extends "chatapp/templates/base.html" %}
{% load static %}


{% block extra-style %}
<style>
    .chat-message > div {
        background-color: #fff;
        color: #000;
        border: 1px solid;
        border-color: #c0c0c0;
        border-radius: 0.8em;
        padding: 0.4em;
        margin: 0.4em 0;
        display: inline-block;
        white-space: pre-wrap;
        max-width: 80%;
        word-wrap: break-word;
    }
    .chat-message.message_owner {
        text-align: right;
    }
    .chat-message.message_owner > div {
        background-color: #1f8cff;
        color: #fff;
        text-align: left;
        margin-right: 1rem;
    }
    div.left {
        float: left;
        margin-bottom: 15px;
    }
    .chat-message.owner {
        justify-content: flex-end;
        margin-right: 0.5rem;
    }
    .chat-message.other {
        justify-content: flex-start;
    }
    .card.w-100 {
        max-width: 50%;
    }
    #chat_messages::-webkit-scrollbar {
        width:.5em;
        opacity:.3
     }
    #chat_messages::-webkit-scrollbar-track {
        -webkit-box-shadow:none
    }
    #chat_messages::-webkit-scrollbar-thumb {
        background-color:#C0C0C0
    }
</style>
{% endblock %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0" style="height: 750px;">
                <div class="card" style="height: 650px; margin-top: 5rem;">
                    <div class="card-header">
                        접속 유저
                        <span id="user_count"></span>
                    </div>
                    <div class="card-body">
                        <ul style="font-size: 20px;" id="user_list"></ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-7 col-xl-8" style="margin-top: 5rem; height: 650px;">
                <div class="card" style="height: 650px;">
                    <div class="card-header">
                            채팅방 : {{ room.name }}
                    </div>
                    <div class="card-body overflow-hidden">
                        <div id="chat_messages" class="w-100 h-100 border-0 overflow-scroll"></div>
                    </div>
                    <div class="card-footer" style="display: flex; align-items: center;">
                        <form id="message_form" style="flex-grow: 1;">
                            <input type="text" name="message" class="form-control" required placeholder="메세지를 입력하세요." autofocus autocomplete="off" />
                        </form>
                        <button type="submit" form="message_form" class="btn btn-primary" style="margin-left: 0.5rem;">보내기</button>
                    </div>
                </div>
            </div>

            <div class="left">
                <a href="{% url 'chatapp:index' %}" class="btn btn-primary">대기실로 이동</a>
                {% if request.user == room.user %}
                    <a href="{% url 'chatapp:delete' room.pk %}" class="btn btn-danger">채팅방 삭제하기</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">알림</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-script %}
<script>
    const handlers = {
        chat_messages_tag: null,
        ws: null,
        username_set: new Set(),

        init() {
            this.chat_messages_tag = document.querySelector("#chat_messages");

            document.querySelector("#message_form")
                .addEventListener("submit", this.onsubmit.bind(this));
        },

        connect(url) {
            this.ws = new WebSocket(url);

            this.ws.onopen = this.onopen.bind(this);
            this.ws.onclose = this.onclose.bind(this);
            this.ws.onerror = this.onerror.bind(this);
            this.ws.onmessage = this.onmessage.bind(this);
        },

        onopen() {
            console.log("웹소켓 서버와 접속");

            fetch('{% url "chatapp:user_list" room.pk %}')
                .then(response => response.json())
                .then(({ username_list }) => {
                    this.username_set = new Set([...this.username_set, ...username_list]);
                    this.update_user_list();
                });
        },

        onclose(event) {
            const close_code = event.code;

            if(close_code === 4000) {
                this.modal("채팅방이 삭제되었습니다. 대기실로 이동합니다.", () => {
                    window.location.href = "{% url 'chatapp:index' %}";
                });
            }
            else if(!event.wasClean) {
                console.log("웹소켓 서버에 접속할 수 없습니다. 대기실로 이동합니다.");
                window.location.href = "{% url 'chatapp:index' %}";
            }
        },

        onerror() {
            console.log("웹소켓 에러가 발생했습니다. 대기실로 이동합니다.");
            window.location.href = "{% url 'chatapp:index' %}";
        },

        onmessage(event) {
            const message_json = event.data;
            console.log("메세지 수신 :", message_json);

            const { type, message, message_owner, username } = JSON.parse(message_json);
            switch(type) {
                case "chat.message":
                    this.append_message(message, message_owner);
                    break;
                case "chat.user.join":
                    this.append_message(`${ username }님이 들어오셨습니다.`);
                    this.username_set.add(username);
                    this.update_user_list();
                    break;
                case "chat.user.leave":
                    this.append_message(`${ username }님이 나가셨습니다.`);
                    this.username_set.delete(username);
                    this.update_user_list();
                    break;
                default:
                    console.error(`Invalid message type : ${type}`);
            }
        },

        append_message(message, message_owner) {
            let today = new Date();

            const liElement = document.createElement("li");
            liElement.className = "d-flex mb-4 chat-message";

            if (message_owner === "{{ user.username }}") {
                liElement.classList.add('owner');
            } else if (message_owner !== undefined) {
                liElement.classList.add('other');
            }

            const cardDiv = document.createElement("div");
            cardDiv.className = "card w-100";

            const headerDiv = document.createElement("div");
            headerDiv.className = "card-header d-flex justify-content-between p-3";

            const namePtag = document.createElement("p");
            namePtag.className = "fw-bold mb-0";
            namePtag.textContent = message_owner;

            const timePtag = document.createElement('p');
            timePtag.className = "text-muted small mb-0";
            timePtag.innerHTML = `<i class="far fa-clock"></i> ${today.toLocaleString()}`;

            headerDiv.appendChild(namePtag);
            headerDiv.appendChild(timePtag);

            const bodyDiv = document.createElement('div');
            bodyDiv.className = "card-body";

            const msgPTag = document.createElement('p');
            msgPTag.className = "mb-0";
            msgPTag.textContent = message;

            bodyDiv.appendChild(msgPTag);
            cardDiv.appendChild(headerDiv);
            cardDiv.appendChild(bodyDiv);

            if (message_owner === "{{ user.username }}") {
                liElement.appendChild(cardDiv);

                let avatarImgTag = document.createElement('img');

                {% if user.profile and user.profile.image %}
                    avatarImgTag.src = '{{ user.profile.image.url }}';
                {% else %}
                    avatarImgTag.src = '{% static "DI.PNG" %}';
                {% endif %}

                avatarImgTag.alt = 'avatar';
                avatarImgTag.width = '60';

                avatarImgTag.classList.add(
                    'rounded-circle',
                    'd-flex',
                    'align-self-start',
                    'ms-3',
                    'shadow-1-strong'
                );

                liElement.appendChild(avatarImgTag);
            } else {
                let avatarImgTag = document.createElement('img');

                {% if user.profile and user.profile.image %}
                    avatarImgTag.src = '{{ user.profile.image.url }}';
                {% else %}
                    avatarImgTag.src = '{% static "DI.PNG" %}';
                {% endif %}

                avatarImgTag.alt = 'avatar';
                avatarImgTag.width = '60';

                avatarImgTag.classList.add(
                    'rounded-circle',
                    'd-flex',
                    'align-self-start',
                    'me-3',
                    'shadow-1-strong'
                );

                liElement.appendChild(avatarImgTag);
                liElement.appendChild(cardDiv);
            }

            this.chat_messages_tag.appendChild(liElement);
            this.chat_messages_tag.scrollTop = this.chat_messages_tag.scrollHeight;
        },

        onsubmit(event) {
            event.preventDefault();

            const form_data = new FormData(event.target);
            const props = Object.fromEntries(form_data);
            event.target.reset();

            const { message } = props;
            console.log("웹소켓으로 전송할 메세지 :", message);

            this.ws.send(JSON.stringify({
                type: "chat.message",
                message: message,
            }))
        },

        update_user_list() {
            const html = [...this.username_set]
                .map(username => `<li>${username}</li>`)
                .join('');
            document.querySelector("#user_list").innerHTML = html;

            document.querySelector("#user_count").textContent =
                `(${ this.username_set.size }명)`;
        },

        modal(message, ok_handler) {
            const modal_ele = document.querySelector("#staticBackdrop");
            const body_ele = modal_ele.querySelector(".modal-body");
            const button_ele = modal_ele.querySelector(".modal-footer button");

            body_ele.textContent = message;

            button_ele.addEventListener("click", () => {
                if(ok_handler) ok_handler();
                modal.hide();
            });

            const modal = new bootstrap.Modal(modal_ele);
            modal.show();
        },
    };

handlers.init();

const protocol = location.protocol === "http:" ? "ws:" : "wss:";
const url = protocol + "//" + location.host + "/ws" + location.pathname;

handlers.connect(url);
</script>
{% endblock %}