{% extends "base.html" %}

{% block content %}
<style>
    .alert {
        position: fixed;
        width: 100%;
        text-align: center;
    }
    .div {
        width: 50%;
        height: 300px;
    }
    .left {
        float: left;
        position: fixed;
    }
    .right {
        float: right;
        width: 400px;
    }
    .dropdown{
        position : relative;
        display : inline-block;
    }
    .dropdown-content{
        z-index : 1;
        display : none;
        position : absolute;
        min-width: 110px;
    }

    .dropdown-content a{
        display : block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    a { color: black; }
    a:visited { color: black; }
    a:hover { color: black; }
    a:active { color: black; }
</style>

<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

{% if messages %}
    {% for message in messages %}
        <div class="alert"></div>
    {% endfor %}
{% endif %}

<div style="margin-top: 3rem;">
    <div class="left" style="text-align: center; max-width: 500px; margin: 4rem auto; margin-left: 350px;">
        <p>
            <div>
            {% if not my_feed.writer.profile.image.url %}
                <img style="height: 3rem; width: 3rem; border-radius: 15rem; object-fit: cover;">
                <b>
                    <a href="{% url 'accountapp:detail' pk=my_feed.writer.pk %}">
                        닉네임 없음
                    </a>
                </b>
            {% else %}
                <img src="{{ my_feed.writer.profile.image.url }}" alt="image" style="height: 3rem; width: 3rem; border-radius: 15rem; object-fit: cover;">
                <b>
                    <a href="{% url 'accountapp:detail' pk=my_feed.writer.pk %}">
                        {{ my_feed.writer.profile.nickname }}
                    </a>
                </b>
            {% endif %}

            {{ my_feed.created_at }}

            {% if my_feed.writer == user %}
                <div class="dropdown" style="float: right; margin-top: 0.65rem;">
                <i style="vertical-align: right; font-size: 1.7rem;" class="material-icons">
                   more_vert
                </i>
                    <div class="dropdown-content" style="font-size: 15px;">
                        <a href="{% url 'feedapp:edit' pk=my_feed.pk %}">
                            게시글 수정
                        </a>
                        <a href="{% url 'feedapp:delete' pk=my_feed.pk %}">
                            게시글 삭제
                        </a>
                    </div>
                </div>
            {% endif %}
            </div>
        </p>

        <img src="{{ my_feed.image.url }}" alt="image" style="margin-top: 1rem; margin-bottom: 0.5rem; width: 100%; border-radius: 1rem">

        <div style="margin-bottom: 1rem;">
            {% if Likes %}
            <a href="{% url 'likeapp:like' pk=my_feed.pk %}" style="text-decoration: none" visited="color: black;">
                <i style="vertical-align: middle; font-size: 1.7rem; color: #CD5C5C;" class="material-icons">
                   favorite
                </i>
            </a>
            {% else %}
            <a href="{% url 'likeapp:like' pk=my_feed.pk %}" style="text-decoration: none">
                <i style="vertical-align: middle; font-size: 1.7rem; color: #DBE4EB;" class="material-icons">
                   favorite
                </i>
            </a>
            {% endif %}
            <a href="{% url 'feedapp:like_list' pk=my_feed.pk %}" style="text-decoration: none">
                <span style="vertical-align: middle; font-size: 1.1rem;">
                   좋아요 {{ my_feed.like_cnt }}개
                </span>
            </a>
        </div>

        <h1>
            {{ my_feed.title }}
        </h1>
        <p>
            {{ my_feed.content }}
        </p>
    </div>
    <div class="right" style="margin-right: 350px;">
        {% include "commentapp/create.html" with feed=my_feed %}

        {% for comment in my_feed.comment.all %}
            {% include "snippets/comment_list.html" with comment=comment %}
        {% endfor %}
    </div>
</div>
{% endblock %}