{% extends "templates/base.html" %}

{% block content %}
<style>
    .div {
        width: 50%;
        height: 300px;
    }
    .left {
        float: left;
        position: fixed;
    }
    .right {
        float: right;
        width: 400px;
    }
    .dropdown{
        position : relative;
        display : inline-block;
    }

    .dropdown-content{
        z-index : 1;
        display : none;
        position : absolute;
    }

    .dropdown-content a{
        display : block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

<div>
    <div class="left" style="text-align: center; max-width: 500px; margin: 4rem auto; margin-left: 350px;">
        <p>
            <img src="{{ my_feed.writer.profile.image.url }}" alt="image" style="height: 3rem; width: 3rem; border-radius: 15rem; object-fit: cover;">
            <b> {{ my_feed.writer }} </b>
            {{ my_feed.created_at }}
        </p>

        <img src="{{ my_feed.image.url }}" alt="image" style="margin-top: 2rem; margin-bottom: 2rem; width: 100%; border-radius: 1rem">

        <h1>
            {{ my_feed.title }}
        </h1>
        <div style="height: 2rem;">
            <a href="{% url 'likeapp:like' pk=my_feed.pk %}" style="text-decoration: none">
                <i style="vertical-align: middle; font-size: 1.2rem; color: #f77;" class="material-icons">
                   favorite
                </i>
            </a>
            <a href="{% url 'feedapp:like_list' pk=my_feed.pk %}" style="text-decoration: none">
                <span style="vertical-align: middle; font-size: 1.2rem;">
                   {{ my_feed.like_cnt }}
                </span>
            </a>
        </div>
        <p>
            {{ my_feed.content }}
        </p>
        {% if my_feed.writer == user %}
            <a href="{% url 'feedapp:edit' pk=my_feed.pk %}" class="btn btn-primary rounded-pill col-3">
                게시글 수정
            </a>
            <a href="{% url 'feedapp:delete' pk=my_feed.pk %}" class="btn btn-danger rounded-pill col-3">
                게시글 삭제
            </a>
        {% endif %}
    </div>
    <div class="right" style="margin-right: 350px;">
        {% include "commentapp/create.html" with feed=my_feed %}

        {% for comment in my_feed.comment.all %}
            {% include "snippets/comment_list.html" with comment=comment %}
        {% endfor %}
    </div>
</div>
{% endblock %}