{% load django_bootstrap5 %}

{% block content %}
<script src="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

<div style="text-align: center; max-width: 500px; margin: 4rem auto">
    <form action="{% url 'commentapp:create' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% if user.is_authenticated %}
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
        {% else %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="btn btn-dark rounded-pill col-6 mt-3">
                로그인
            </a>
        {% endif %}

        <input type="hidden" name="feed_pk" value="{{ feed.pk }}">
    </form>
</div>

<script>
var editor = new MediumEditor('.editable', {
    placeholder: {
        text: "내용을 입력해주세요."
    }
});
</script>
{% endblock %}