<div style="border: 1px solid; text-align: left; padding: 4%; margin: 1rem 0; border-radius: 1rem; border-color: #bbb;">
    <div>
        {% if comment.writer.profile.nickname %}
            <strong style="font-size: 25px">
                {{ comment.writer.profile.nickname }}
            </strong>
        {% else %}
            <strong style="font-size: 25px">
                닉네임 없음
            </strong>
        {% endif %}
        {% if comment.writer == user %}
            <div class="dropdown" style="float: right; margin: 0.3rem;">
            <i style="vertical-align: right; font-size: 1.7rem;" class="material-icons">
               more_vert
            </i>
                <div class="dropdown-content">
                    <a href="{% url 'commentapp:edit' pk=comment.pk %}" style="color: blue; text-decoration: none;">
                        수정
                    </a>
                    <a href="{% url 'commentapp:delete' pk=comment.pk %}" style="color: red; text-decoration: none;">
                        삭제
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    <div style="font-size: 10px">
        {{ comment.created_at | date:"Y-m-d" }}
    </div>
    <div style="margin: 1.3rem 0;">
        {{ comment.content }}
    </div>
</div>