<style>
    .navbar {
        width: 100%;
        top: 0;
    }
    a { color: black; }
    a:visited { color: black; }
    a:hover { color: black; }
    a:active { color: black; }
    a { text-decoration: none; }
</style>

<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">HOME</a>

    <div class="collapse navbar-collapse">
        <form method="get" class="d-flex" role="search" action="{% url 'searchapp:user_search_list' %}">
            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    {% if user.is_authenticated %}
        <a href="{% url 'chatapp:index' %}">
            <span>Chat</span>
        </a>
        &nbsp; &nbsp;
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>{{ user }}님 환영합니다</span>
        </a>
        &nbsp; &nbsp;
        <a href="{% url 'accountapp:logout' %}">
            <span>로그아웃</span>
        </a>
        &nbsp;
    {% else %}
        <a href="{% url 'chatapp:index' %}">
            <span>Chat</span>
        </a>
        &nbsp; &nbsp;
        <a href="{% url 'accountapp:signup' %}">
            <span>회원가입</span>
        </a>
        &nbsp; &nbsp;
        <a href="{% url 'accountapp:login' %}">
            <span>로그인</span>
        </a>
        &nbsp;
    {% endif %}
    </div>
</nav>